.cardskill {
    display: grid;
    grid-template-columns: repeat(3, 550px);
    animation: appearance 1s forwards;
    align-items: center;
}

.texttitle {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: appearance 1s;
    margin-top: 10px;
    padding-bottom: 10px;
    opacity: 0.5;
}

.titleSkill {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
    font-weight: 500;
    animation: appearance 1s;
}

.titleProgLang {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 200px;
    animation: appearance 1s;
}

.cardimage {
    border: 3px solid rgba(255, 166, 0, 0.205);
    width: 400px;
    height: 230px;
    margin-left: 200px;
    text-align: center;
}

.cardimage>a {
    text-decoration: none;
}

.cardimage:hover {
    border-color: orange;
}

a:hover .texttitle {
    color: orange;
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
}

@keyframes appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}