.proglang, .library {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.other {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.texttitle {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: appearance 1s;
    padding-bottom: 10px;
    opacity: 0.5;
}
.titleSkill {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
    font-weight: 500;
    animation: appearance 1s;
}
.titleProgLang {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 200px;
    animation: appearance 1s;
    margin-bottom: 40px;
}
.cardimage {
    border: 1px solid rgba(245, 245, 245, 0.3);
    margin: 10px;
    animation: appearance 1s;
}
.cardimage>a {
    text-decoration: none;
}
.cardimage:hover {
    border-color: orange;
}
a:hover .texttitle {
  color: orange;
  opacity: 1;
}

@keyframes appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media(max-width: 1440px) {
    .titleProgLang {
        margin-left: 0;
        text-align: center;
    }
}
@media(max-width: 425px) {
    .proglang, .library {
        flex-direction: column;
    }
    .titleSkill {
        font-size: 30px;
    }
    .titleProgLang {
        font-size: 20px;
    }
}