.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    animation: home 1s forwards;
    height: 80vh;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}
.titlehome {
    font-size: 55px;
    letter-spacing: 15px;
}
.jobtitle {
    font-size: 30px;
}

@keyframes home {
    0% {opacity: 0;}
    100% {opacity: 1;}
}