.navmenu {
    margin-top: 10px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(70, 131, 180, 0.45);
}

.titlename {
    margin-left: 20px;
    font-weight: 600;
    font-size: 35px;
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px black;
    cursor: default;
    font-family: 'Courier New', Courier, monospace;
}

.bt {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-transform: none;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}

li a.active {
    font-weight: bold;
    color:#0d6efd
}