.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    margin-left: 50px;
}
.titlename {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
.navmenuright {
    margin-left: 900px;
}
.activ {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-right: 20px;
}
.activ:hover {
    color: rgb(104, 104, 233);
}
.active {
    color: rgb(104, 104, 212);
    font-weight: bold;
}
.hr {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.2;
}