.sendmessage {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 150px;
    grid-row-gap: 100px;
    width: auto;
    height: auto;
}

.media {
    margin-top: 100px;
    transform: translateX(-450%);
}

.media a {
    text-decoration: none;
}

.media img {
    border: 4px solid rgba(1, 189, 164, 0.733);
    opacity: 0.9;
}

.title_sl {
    color: rgb(199, 240, 234);
    opacity: 0;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    background-color: gray;
    border-radius: 10px;
    text-shadow: 2px 1px 1px black;
}

.media img:hover {
    border: 4px solid rgb(1, 189, 164);
    opacity: 1;
}

a:hover .title_sl {
    opacity: 1;
}

.media:nth-child(1) {animation: folder 1s forwards;}
.media:nth-child(2) {animation: folder 1s forwards 0.5s;}
.media:nth-child(3) {animation: folder 1s forwards 1s;}
.media:nth-child(4) {animation: folder 1s forwards 1.5s;}

@keyframes folder {
    0% {transform: translateX(-450%);}
    100% {transform: translateX(0);}
}